/* 

Index

00 - General 
01 - Containers 
02 - Sections
03 - Navigation Bar
04 - Presentation Slider
05 - History
06 - Pilllars
07 - Footer

*/

/* 00 - General */

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 900;
}

/* 01 - Containers */

.container-fluid {
    padding: 3% 10%;
}

/* 02 - Sections */

.colored-section {
    background-color: #065b7d;
    color: #fff;
}

.white-section {
    background-color: #fff;
    color: #112B3C;
}

/* 03 - Navigation Bar */

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    padding-left: 2rem;
}

.nav-item {
    padding: 0 1rem;
    background-color: #112B3C;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

.nav-link:hover {
    font-size: 1.5rem;
}

.navbar {
    height: 6rem;
    background-color: #112B3C;
    width: 100%;
}

/* 04 - Presentation Slider */

#presentation-slider {
    color: #fff;
    padding: 8rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/workspace.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.carousel-item {
    padding: 8% 16%;
}

.slider-text {
    font-size: 3rem;
    line-height: 1.5;
}

.slider-img img {
    width: 75%;
    min-width: 300px;
    height: auto;
    padding-bottom: 1rem;
}

/* 05 - History */

#history {
    padding: 8% 25%;
    color: #065b7d;
}

/* 06 - Pilllars */

#pillars {
    padding: 10% 10%;
}

#pillars .row i {
    margin-bottom: 1.5rem;
}

#pillars .row i:hover {
    color: #112B3C;
}

/* 07 - Footer */

#footer {
    padding: 8%;
    color: #065b7d;
}

.social-icon {
    padding: 0 1rem 1.5rem;
    color: #065b7d;
}

.social-icon:hover {
    color: #112B3C;
}